<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
</head>
<body bgcolor="black">
    {{#each all as |a|}}
    <div class="card" >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="card-img-top" src="{{a.sr}}"   >
        <div class="card-body">
            <font size="5" class="card-title">Name:{{a.title}}</font><br>
            <font size="5" class="card-text">Author:{{a.author}}</font><br>
            <font size="5" class="card-text">Genre:{{a.genre}}</font><br>
            <font size="5" class="card-text">Edition:{{a.edition}}</font><br><br>
            <a href="{{a.Url}}" ><font size="6" class="bb"> Buy</font> </a>
            
        </div>
        <br>
    </div>
    <br><br>
    {{/each}}
    
</body>
<style>
    .card{
        width: 7cm;
        height: 9cm;
        background-color: orangered;
        
        
    }
    .card-img-top{
        width: 5cm;
        height: 4cm;
        
    }

    .bb{
        size: 1cm;
        transform: translate(30px,30px)
        position:relative;
    }
</style>
</html>